{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<h3 class="title">Lista zgłoszeń</h3>
<div class="filter">
	<form action="." method="post">
		<div class="form-row">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary btn-sm search" type="submit">
				<i class="fas fa-search"></i> Szukaj
			</button>
		</div>
	</form>
		{% if user.is_authenticated %}
	<div class="action-buttons">
		<a class="btn btn-warning btn-sm" href="#"> <i class="bi bi-alarm-fill fa-lg"></i> Moje zadania </a>
		<a class="btn btn-success btn-sm" href="#">  <i class="bi bi-check-square fa-lg"></i> Ukończone zadania </a>
	</div>
		{% endif %}
		{% if user.is_superuser %}
			<div class="action-buttons">
		<a class="btn btn-secondary" href="#"> <i class="bi bi-list-task fa-lg"></i> Wszystkie zadania </a>
		<a class="btn btn-success" href="#"> <i class="bi bi-check-square fa-lg"></i> Wszystkie ukończone zadania </a>
	</div>
		{% endif %}
</div>
<div class="content">
	<table class="table">
		<tr>
			<th></th>
			<th>Numer</th>
			<th>Data</th>
			<th>Status</th>
			<th>Kategoria</th>
			<th>Utworzony dla</th>
			<th></th>
		</tr>
		{% for notice in notices %}
			
			<tr>
				<td>
					{% if notice.image %}
						{% thumbnail notice.image "x50" crop="center" as small_image %}
						<img src="{{ small_image.url }}" />
						{% endthumbnail %}
					{% endif %}
				</td>
				<td>
					<a href="{% url "service-preview" notice.id %}">
					{{ notice.number }}
					</a>
				</td>
				<td>{{ notice.date|date:"Y-m-d H:i:s" }}</td>
				<td class="{{ notice.status_color }}">
					{{ notice.status_name }}
				</td>
				<td>{{ notice.category|default:"" }}</td>
				<td>{{ notice.user }}</td>
			
				<td class="text-right">
					{% if user.is_authenticated %}
					<div class="btn-group" role="group">
						<a class="btn btn-primary btn-sm"
						   href="{% url "service-update" notice.id %}">
						   <i class="fas fa-edit"></i> Edytuj
						</a>
<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
Usuń
<i class="fa fa-trash"></i>
</button>

<div class = "modal fade hide" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center">
      <style> h5 {padding-top: 20px;} </style>
        <h5 class="modal-title" id="exampleModalLabel">Usuń</h5>
      </div>
      <div class="modal-body">
      <style> p {text-align: center;} </style>
      <p>Czy na pewno chcesz usnąć to zadanie?</p>
      <div class="text-center">
        <button type="button" class="btn btn-danger"
        href="{% url "service-delete" notice.id %}">
        <i class="fas fa-trash"></i> Usuń</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>
</div>
		{% endif %}
			</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}